<input
  type="text"
  maxlength="1"
  [value]="value || ''"
  (input)="onInput($event)"
  [readonly]="!!value"
  class="w-20 h-20 text-center text-4xl border border-[#6F4E37] focus:outline-none focus:ring-1 focus:ring-[#6F4E37]"
  [ngClass]="[
    value ? 'bg-[#f6e3d3]' : 'bg-[#fff3e9]/50',
    colIndex % 3 === 2 ? 'border-r-2 !border-r-[#6F4E37]' : '',
    colIndex % 3 === 0 ? 'border-l-2 !border-l-[#6F4E37]' : '',
    rowIndex % 3 === 2 ? 'border-b-2 !border-b-[#6F4E37]' : '',
    rowIndex % 3 === 0 ? 'border-t-2 !border-t-[#6F4E37]' : ''
  ]"
/>