/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
    background-color: #fff7f0;
    overflow-x: hidden;
}
input[type="radio"] {
    accent-color: #6F4E37;
    background-color: #fff7f0;
    border: 1px solid #6F4E37;

}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hint-animate {
  animation: fadeInUp 0.3s ease;
}